# Describing Automobile Data && Finding Missing Values

## By: Stevemats

In [ ]:
import pandas as pd

##### Source data => https://www.kaggle.com/datasets/a165079/automobilecsv

In [ ]:
df = pd.read_csv("./data/Automobile_data.csv")

##### printing data types of each column

In [ ]:
print(df.dtypes)

###### now describing data & finding missing values

In [ ]:
print(df.describe())

In [ ]:
print(df.isnull().sum())